<!DOCTYPE html>
<!-- Based on Bootstrap from Twitter ( http://twitter.github.com/bootstrap/ ) - thanks, guys! -->
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<title>Logiblock IDE (alpha)</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta name="description" content="{{description}}"/>
	<meta name="author" content="Outbreak, Inc."/>
	
	<link rel="stylesheet" type="text/css" href="/shared/css/bootstrap.min.css" media="screen"/>
	<link rel="stylesheet" type="text/css" href="/lib/yui/treeview.css"/>
	<link rel="stylesheet" type="text/css" href="/shared/css/outbreak.css" media="screen"/>
	<link rel="stylesheet" type="text/css" href="/shared/css/bootstrap-editable.css" media="screen"/>
	<link rel="stylesheet" type="text/css" href="/IDE.css" media="screen"/>

	<script src="/lib/platform/require-jquery.js" type="application/javascript" charset="utf-8"></script>

	<script type="application/javascript" charset="utf-8">
		require(["./config"], function(config)
		{
			require(["app/IDE"]);
		});
	</script>
	
	<style type="text/css">
		body{ padding-top: 60px; padding-bottom: 40px;}
	</style>

	<!-- UserVoice JavaScript SDK (only needed once on a page) -->
	<script>(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/kDMu44B9hhdqcZoLgkLs4w.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()</script>

	<!-- A tab to launch the Classic Widget -->
	<script>
	UserVoice = window.UserVoice || [];
	UserVoice.push(['showTab', 'classic_widget', {
	  mode: 'full',
	  primary_color: '#ff7418',
	  link_color: '#007dbf',
	  default_mode: 'support',
	  forum_id: 196384,
	  tab_label: 'Need Help?',
	  tab_color: '#ff7418',
	  tab_position: 'middle-right',
	  tab_inverted: false
	}]);
	</script>

	<style type="text/css">
		body div#uvTab
		{
			margin-top: -80px !important;
		}
	</style>	
	
	<!-- IE6-8 support-->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<script type="text/javascript">
		window.mixpanel = { track: function() {} }
	</script>
	
	<link rel="icon" type="image/png" href="/images/outbreakFavicon.png"/>
</head>

<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
		<div class="topbarContainer">
<!-- 			<a class="btn" id="settingsButton" style="float:right">
				<img src="/lib/settings.png"></img>
			</a>
 -->			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<!-- http://files.softicons.com/download/system-icons/hadaikum-icons-by-tiny-lab/png/24x24/Settings.png -->
				<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
			</a>
			<a class="brand" id="homeButton" href="/"><!-- <img class="outbreakIDELogo" src="/images/blank.gif"></img> -->Logiblock<span class="colorOrange">IDE</span> <em>alpha</em></a>
			<div class="nav-collapse">
				<ul id="projectList" class="nav">
				</ul>
			</div><!-- /.nav-collapse  -->
		</div>
		</div>
	</div>
	<div class="container">
		<div class="welcomeView">
			<div class="hero-unit">
				<h1>Logiblock<span class="colorOrange">IDE</span> <em>alpha</em></h1>
				<p class="lead">
					Create a new project or open an existing one
				</p>
				<p class="newProject">
					<button role="button" class="btn btn-large btn-primary newProjectBtn">Create a new project</button>
				</p>
			</div>
			<div class="row">
				<div class="projectList">
				</div>
			</div>
		</div>
		<div class="editorView" hidden="hidden">
			<div class="documentView"></div>
			<div class="devView sidebar">
				<div class="optionsView">
					<div class="projectControls sidebarHeader">
						<button class="btn btn-small btn-primary buildButton" data-loading-text="Building...">
							<span class="icon-check icon-white"></span> Build
						</button>
						<button class="btn btn-small btn-primary runButton" data-loading-text="Flashing...">
							<span class="icon-play icon-white"></span> Run
						</button>
						<button class="btn btn-small btn-primary debugButton" data-loading-text="Starting Debugging..."
							<span class="icon-play icon-white"></span> Debug
						</button>
					</div>
					<div class="progressView sidebarHeader hide">
						<div class="progress progress-striped active">
							<div class="bar" style="width: 100%;"></div>
						</div>						
					</div>
					<div class="modulesView">
						<hr/>
						<div class="modulesHeader sidebarHeader">
							Modules
							<!-- <input class="settingsButton" type="button" value="+"></input> -->
							<!-- <button class="btn">+</button> -->
							<!-- <form class="form-search" style="display:inline-block; width:200px; margin-bottom:0px;">
								<input type="text" class="input-block-level search-query">
									
								</input>
							</form> -->
						</div>
						<div class="modulesList"></div>
					</div>
					<div class="settingsView">
						<hr/>
						<div class="settingsHeader sidebarHeader">
							Settings
						</div>
						<div class="settingsList">
						</div>
					</div>
					<div class="devicesView">
						<hr/>
						<div class="devicesHeader sidebarHeader">
							Devices
						</div>
					</div>
					<div class="errorsView">
						<hr/>
						<div class="errorsHeader sidebarHeader">
							Errors
						</div>
					</div>
					<div class="sidebarFooter">
						<button class="btn btn-small btn-danger removeButton">
							<span class="icon-remove icon-white"></span> Delete Project
						</button>
					</div>
				</div>
			</div>
			<div class="debugView sidebar hide">
				<div class="controls sidebarHeader">
					<button class="btn btn-small btn-primary continueButton" data-loading-text="Continuing...">Continue</button>
					<button class="btn btn-small btn-primary pauseButton" data-loading-text="Pausing...">Pause</button> 
					<button class="btn btn-small btn-primary endButton" data-loading-text="Ending Debugging...">End Debugging</button>
				</div>
				<div class="varView yui-skin-sam">
					<h4>Variables</h4>
					<div id="varTree" class="varTree">
					</div>
				</div>
				<div class="callstackView">
					<h4>Stack</h4>
				</div>
			</div>
		</div>
		<div class="modalView">
			<div id="newProjectModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="newProjectHeader" aria-hidden="true">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 id="newProjectHeader">Create a new project</h3>
				</div>
				<div class="modal-body">
					<p>Enter a project name:</p>
					<p>
						<input class="projectName" type="text" placeholder="New project name"></input>
						<span class="text-error error"></span>
					</p>
				</div>
				<div class="modal-footer">
					<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
					<button class="btn btn-primary createProjectBtn">Create project</button>
				</div>
			</div>

			<div id="userSettingsModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="settingsHeader" aria-hidden="true">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 id="settingsHeader">Settings</h3>
				</div>
				<div class="modal-body">
				</div>
				<div class="modal-footer">
					<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
				</div>
			</div>

			<div id="restartModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="settingsHeader" aria-hidden="true">
				<div class="modal-header">
					<h3 id="settingsHeader">Uh oh...</h3>
				</div>
				<div class="modal-body">
					<p>Something went wrong</p>
				</div>
				<div class="modal-footer">
					<button class="btn btn-primary refreshBtn" data-dismiss="modal" aria-hidden="true">Refresh IDE</button>
				</div>
			</div>
		</div>
	</div>
		<!-- <div class="headerView">
			<div class="navbutton"><a href="#">&laquo; &bull;</a></div>
			<div class="projecttitle">Demo project</div>
			<div class="runcontrols"><input id="verifyButton" type="button" value="Verify"></input><input id="runButton" type="button" value="Run"></input></div>
		</div> -->

	<script type="text/template" id="projectListTemplate">
		<a class="projectListItem"><%= name %><% if (typeof(isOpenBy) != "undefined" && isOpenBy) { %>*<% } %> (<%= owner %>)</a>
	</script>

	<script type="text/template" id="errorItemTemplate">
		<div class="view"><% if (typeof(file) != "undefined" && typeof(line) != "undefined") { %> <strong><%= file %>:<%= line %></strong>: <% } %> <%= err %></div>
	</script>

	<script type="text/template" id="stackItemTemplate">
		<div class="view"><strong><%= name %></strong></div>
	</script>

	<script type="text/template" id="deviceItemTemplate">
		<div class="view"><%= productName %>: <%= serialNumber %> (port <%= gdbPort %>)</div>
	</script>

	<script type="text/template" id="projectNameTemplate">
		<div class="view">
			Name: <span class="name"><%= name %></span>
		</div>
	</script>

	<script type="text/template" id="settingsItemTemplate">
		<input id="<%= name %>" class="settingCheckbox" type="checkbox" <%= value ? "checked" : "" %>></input>
		<span for="<%= name %>"><%= text %></span>
		<span class="text-error error"></span>
	</script>
	
</body>
</html>